@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@mixin font-family {
  font-family: Inter, sans-serif;

  transition: color 0.3s;
}

@mixin txt-300 {
  @include font-family;
  font-weight: 300;
}

@mixin txt-400 {
  @include font-family;
  font-weight: 400;
}

@mixin txt-500 {
  @include font-family;
  font-weight: 500;
}

@mixin txt-600 {
  @include font-family;
  font-weight: 600;
}

@mixin txt-700 {
  @include font-family;
  font-weight: 700;
}