@use 'variables' as *;
@use 'visibility' as *;

html, body {
  margin: 0;
}

body {
  background: #{$white-100};
  transition: background 0.3s;

  .dark-mode & {
    background: #{$black-100};
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.nuxt-icon svg {
  width: auto !important;
  height: auto !important;

  margin: 0 !important;

  color: #{$black-100};
  transition: color 0.3s;
}

.dark-mode .nuxt-icon svg {
  color: #{$white-100};
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

img,
picture,
video {
  max-width: 100%;
}