$c-white-100: #FFFFFF;
$c-white-200: #F0F0F0;
$c-white-300: #E0E0E0;
$c-white-400: #C9C9C9;
$c-white-500: #6C6C6C;

$c-black-100: #282A31;
$c-black-200: #20232A;

$c-red-100: #FF387F;
$c-red-200: #EE3275;
